.p-houseSearch {
  width: 90%;
  margin: 30px auto;

  &__titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 7px;
  }

  &__title {
    color: blue;
  }

  &__mainSection {
    display: flex;
    flex-wrap: wrap-reverse;

    @media all and (min-width: 900px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
